name: Tailscale RDP

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Enable Remote Desktop
        shell: powershell
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Restart-Service TermService -Force

      - name: Create RDP User
        shell: powershell
        run: |
          $username = "runneradmin"
          $password = "P@ssw0rd123!"
          $secpass = ConvertTo-SecureString $password -AsPlainText -Force
          New-LocalUser $username -Password $secpass
          Add-LocalGroupMember -Group "Administrators" -Member $username

          Write-Host "==============================="
          Write-Host "Username: $username"
          Write-Host "Password: $password"
          Write-Host "==============================="

      - name: Install Tailscale
        shell: powershell
        run: |
          choco install tailscale -y

      - name: Connect to Tailscale
        shell: powershell
        run: |
          tailscale up --authkey ${{ secrets.TS_AUTHKEY }}
          tailscale ip -4
