name: Tailscale RDP

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Enable Remote Desktop
        shell: powershell
        run: |
          Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp" -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Restart-Service TermService -Force

      - name: Create RDP User
        shell: powershell
        run: |
          $u="runneradmin"
          $p="P@ssw0rd123!"
          New-LocalUser $u -Password (ConvertTo-SecureString $p -AsPlainText -Force)
          Add-LocalGroupMember -Group "Administrators" -Member $u
          Write-Host "USER: $u"
          Write-Host "PASS: $p"

      - name: Install Tailscale
        shell: powershell
        run: choco install tailscale -y

      - name: Connect Tailscale
        shell: powershell
        run: |
          tailscale up --authkey=${{ secrets.TS_AUTHKEY }}
          tailscale ip -4
