name: Tailscale RDP

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 3600

    defaults:
      run:
        shell: powershell -Version 5.1

    steps:
      - name: Enable Remote Desktop
        run: |
          Write-Host "Enabling RDP..."

          Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp" -Name "UserAuthentication" -Value 0

          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Restart-Service TermService -Force

          Write-Host "RDP Ready."

      - name: Create Admin User
        run: |
          $username = "runneradmin"
          $password = "P@ssw0rd123!"

          $sec = ConvertTo-SecureString $password -AsPlainText -Force
          New-LocalUser $username -Password $sec
          Add-LocalGroupMember -Group "Administrators" -Member $username

          Write-Host ""
          Write-Host "==============================="
          Write-Host "LOGIN DETAILS"
          Write-Host "Username: $username"
          Write-Host "Password: $password"
          Write-Host "==============================="
          Write-Host ""

      - name: Install Tailscale
        run: |
          choco install tailscale -y

      - name: Connect to Tailscale
        run: |
          tailscale up --authkey=${{ secrets.TS_AUTHKEY }}
          $ip = tailscale ip -4
          Write-Host ""
          Write-Host "==============================="
          Write-Host "Tailscale IP: $ip"
          Write-Host "Port: 3389"
          Write-Host "==============================="
          Write-Host ""
